<div class="block">
  <a href="#/games/new" class="btn btn-default" role="button"
     ng-if="user">Start a new game</a>
</div>

<table class="block table table-bordered table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Black</th>
      <th>White</th>
      <th>State</th>
      <th>Started at</th>
    </tr>
  </thead>
  <tbody>
    <!-- TODO: Add UI to delete a game (available only for the owner). -->
    <!-- TODO: Paginate games if it becomes too long. -->
    <tr ng-repeat="g in games | orderBy: '-created_at'">
      <td><a ng-href="#/games/{{g.$id}}">Watch</a></td>
      <td>{{g.blackId ? '@' + g.blackName : '-'}}</td>
      <td>{{g.whiteId ? '@' + g.whiteName : '-'}}</td>
      <td>{{g.state}}</td>
      <td>{{g.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
    </tr>
  </tbody>
</table>
