<div class="block">
  <a href="#/" class="btn btn-default" role="button">Return to the game list</a>
</div>

<div class="block row">
  <div class="col-xs-4">
    <div id="game-board" class="block">
      <table ng-class="outline.state">
        <tr ng-repeat="row in visualizedBoard">
          <td ng-repeat="cell in row" ng-class="cell"
              ng-click="outline.state === 'playing' &amp;&amp;
                        isMyTurn() &amp;&amp;
                        cell.attackable &amp;&amp;
                        choose(cell.attackable)">
            <span ng-if="cell.cell" class="disc"></span>
            <span ng-if="cell.header">{{cell.name}}</span>
          </td>
        </tr>
      </table>
    </div>
    <div id="result" class="block" ng-if="gameTree.moves.length === 0">
      <span ng-switch="O.judge(gameTree.board)">
        <span ng-switch-when="1">The winner is black.</span>
        <span ng-switch-when="-1">The winner is white.</span>
        <span ng-switch-default>The game ends in a draw.</span>
      </span>
    </div>
    <div id="console" class="block" ng-if="outline.state === 'playing'">
      <div>Current player: {{gameTree.player}}</div>
      <div>Choose a move.</div>
      <div class="btn-group">
        <button
          ng-repeat="m in gameTree.moves | filter: isPassingMove"
          ng-click="choose(m)"
          ng-disabled="!isMyTurn()"
          class="btn btn-default">{{O.nameMove(m)}}</button>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <ul id="outline" class="block">
      <li>
        Black:
        <span ng-if="outline.blackId">@{{outline.blackName}}</span>
        <button
          ng-click="join('black')"
          ng-if="!outline.blackId"
          class="btn btn-default">Join</button>
        <button
          ng-click="leave('black')"
          ng-if="outline.blackId &amp;&amp;
                 outline.state === 'preparing' &amp;&amp;
                 user.id === outline.blackId"
          class="btn btn-default">Leave</button>
      </li>
      <li>
        White:
        <span ng-if="outline.whiteId">@{{outline.whiteName}}</span>
        <button
          ng-click="join('white')"
          ng-if="!outline.whiteId"
          class="btn btn-default">Join</button>
        <button
          ng-click="leave('white')"
          ng-if="outline.whiteId &amp;&amp;
                 outline.state === 'preparing' &amp;&amp;
                 user.id === outline.whiteId"
          class="btn btn-default">Leave</button>
      </li>
      <li>State: {{outline.state}}</li>
      <li id="moves" ng-if="moves.length">
        Moves:
        <ol>
          <li ng-repeat="m in moves">{{m.$value}}</li>
        </ol>
      </li>
    </ul>
  </div>
</div>
